.contanier {
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  @include mobile {
    padding: 12px 15px;
  }
}
header {
  background-color: $mc;
  padding: 12px 11px;
  @include mobile {
    padding: 0px 0px;
  }
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{
    margin-bottom: 0;
  }
  .logo {
    display: block;
    width: 80px;
    height: 49px;
    background-image: url('../images/logo-white.png');
    background-position: center center;
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }

  .hamburger {
    display: none;
    @include mobile {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 30px;
      height: 30px;
    }
    a{
      color:#fff;
    }
  }

  .material-icons{
    font-size: 30px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      display: none;
    }
    a {
      width: 25%;
      padding-right: 32px;
      padding-left: 32px;
      color: $white;
      font-size: $fs * 1.25;
      line-height: $fs * 1.875;
      transition: 0.2s;
      &:hover {
        background-color: $white;
        color: $mc;
        font-weight: 900;
      }
    }
  }
}

.nav-footer {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
  }
  li {
    margin: 0 auto;
    width: 33.3333%;
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
  }

  .nav-alink {
    display: block;
    width: 100%;
    padding: 24px 0;
    font-size: 32px;
    line-height: 48px;
    color: #000;
    font-weight: 600;
    &:hover {
      padding-bottom: 16px;
      border-bottom: 8px solid #f8a09d;
    }
    @include pad {
      font-size: 24px;
      line-height: 36px;
      padding: 16px 0;
      &:hover {
        padding-bottom: 8px;
        border-bottom: 8px solid #f8a09d;
      }
    }
    @include mobile {
      font-size: $fs;
      line-height: $fs * 1.5;
    }
  }

  .nav-active {
    padding-bottom: 16px;
    border-bottom: 8px solid $mc;
    &:hover {
      border-bottom: 8px solid $mc;
    }
    @include pad {
      padding-bottom: 8px;
      border-bottom: 8px solid $mc;
    }
  }
}

.product-header-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  @include mobile {
    margin-bottom: 40px;
  }
  .product-header-img1 {
    width: 50%;
    padding-top: 296px;
    background-image: url("../images/product-header-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include pad {
      background-image: url("../images/product-header-sm-1.png");
    }
    @include mobile {
      padding-top: 136px;
    }
  }
  .product-header-img2 {
    width: 50%;
    padding-top: 296px;
    background-image: url("../images/product-header-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include pad {
      background-image: url("../images/product-header-sm-2.png");
    }
    @include mobile {
      padding-top: 136px;
    }
  }
}

.product-page {
  padding: 0 36px;
  @include mobile {
    padding: 0 15px;
  }
}
.title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: $fs * 2;
  @include mobile {
    margin-bottom: $fs * 1.5;
  }
  h2 {
    font-size: $fs * 2.625;
    line-height: 63px;
    font-weight: 600;
    @include mobile {
      font-size: $fs * 1.5;
      line-height: $fs * 2.25;
    }
  }
  h3 {
    font-size: $fs * 2;
    line-height: $fs * 3;
    font-weight: 500;
    @include mobile {
      font-size: $fs * 1.5;
      line-height: $fs * 2.25;
    }
  }
}

.product-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  gap: 80px 24px;
  @include pad {
    gap: 40px 24px;
  }
  @include mobile {
    gap: 24px 0px;
  }
}

.product-card {
  // width: calc(100%/4 - 3*24px);
  width: 23%;
  @include pad {
    width: 48%;
  }
  @include mobile {
    width: 100%;
  }
  img {
    @include mobile {
      width: 100%;
    }
  }

}
  .product-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
.product-name {

  word-break: break-all;
  text-align: start;
  font-size: $fs * 1.45;
  line-height: $fs * 2.25;
  font-weight: 500;
}
.product-price {
  // width: 50%;
  overflow: hidden;
  text-align: end;
  font-size: $fs * 1.45;
  line-height: $fs * 2.25;
  font-weight: 600;
  color: #aa0601;
}

.color-box {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0px 8px;
  .product-color1 {
    border: none;
    padding: 12px;
    border-radius: 4px;
    background-color: #5f3e2d;
    &:hover{
      outline: 3px solid rgb(248, 190, 190);
    }
  }
  .product-color2 {
    border: none;
    padding: 12px;
    border-radius: 4px;
    background-color: #b75929;
    &:hover{
      outline: 3px solid rgb(248, 190, 190);
    }
  }
}
.pagination {
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .pagebtn:active {
    background-color: #aa0601;
  }

  .pagebtn {
    width: 42px;
    height: 48px;
    font-size: 18px;
    line-height: 27px;
    background-color: #fff;
    color: #555555;
    border: 1px solid #555555;
    outline: none;
    &:hover {
      background-color: #f8a09d;
    }
    &:focus {
      border: 3px solid #6d6d6d;
    }
    @include mobile {
      width: 40px;
      height: 45px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .pre,
  .next {
    font-size: 19px;
    line-height: 29px;
    width: 81px;
    height: 48px;
    @include mobile {
      width: 75px;
      height: 45px;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .next {
    background-color: #f2f2f2;
  }
  .active {
    background-color: #000000;
    color: #fff;
    pointer-events: none;
  }
}
footer {
  background-color: $mc;
  padding-top: 48px;
  @include mobile {
    padding-top: 24px;
    
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  flex-wrap: wrap;
  border-bottom: 1px solid #fff;
  @include mobile {
    align-items: flex-start;
    padding-bottom: 24px;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  order: 1;
  -webkit-order: 1;
  @include mobile {
    display: none;
    order: 3;
    -webkit-order: 3;
  }
  a {
    font-size: $fs;
    line-height: $fs * 1.5;
    color: #fff;
    font-weight: 500;
    &:hover {
      color: #f8a09d;
    }
  }
}
.footer-socialmedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  order: 2;
  -webkit-order: 2;
  @include pad {
    gap: 16px;
  }
  img {
    width: 48px;
    height: auto;
    @include mobile {
      width: 24px;
    }
  }
  a:hover{
    outline: 1px solid rgb(250, 208, 208);
  }
}

.footer-contactInfo {
  width: 100%;
  padding-top: 24px;
  color: #fff;
  font-size: $fs * 2.25;
  line-height: $fs * 3.375;
  order: 3;
  -webkit-order: 3;

  @include mobile {
    order: 1;
    -webkit-order: 1;
    width: auto;
    font-size: $fs;
    line-height: $fs * 1.5;
    padding-top: 0px;
  }

  .contact-Info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    @include mobile {
      gap: 10px;
    }
    a {
      color: #fff;
      &:hover{
        outline: 1px solid rgb(250, 208, 208);
      }
    }
    i {
      width: 36px;
      height: auto;
      @include mobile {
        width: 18px;
      }
    }
  }
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: space-around;
  padding-top: 32px;
  padding-bottom: 32px;
  @include mobile {
    padding-top: 16px;
    padding-bottom: 24px;
    gap: 8px;
    justify-content: start;
  }
  p {
    font-size: $fs;
    line-height: $fs * 1.5;
    color: white;
    flex: 1;
    margin: 0;
    @include mobile {
      flex: auto;
      width: 100%;
    }
  }
  a {
    font-size: $fs * 0.875;
    line-height: $fs * 1.3125;
    color: #fff;
    @include mobile {
      width: 100%;
      font-size: $fs;
      line-height: $fs * 1.5;
    }
    &:hover{
      outline: 1px solid rgb(250, 208, 208);
    }
  }

}
