.product-header-img3 {
  width: 50%;
  padding-top: 296px;
  background-image: url("../images/product-header-3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include pad {
    background-image: url("../images/product-header-sm-3.png");
    background-size: cover;
  }
  @include mobile {
    padding-top: 136px;
  }
}
.product-header-img4 {
  width: 50%;
  padding-top: 296px;
  background-image: url("../images/product-header-4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include pad {
    background-image: url("../images/product-header-sm-4.png");
    background-size: cover;
  }
  @include mobile {
    padding-top: 136px;
  }
}

.sunglass-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  gap: 80px 12px;
  @include pad {
    gap: 40px 12px;
  }
  @include mobile {
    gap: 24px 0px;
  }
}
.sunglass-card{
  width: 32%;
  @include pad {
    width: 48%;
  }
  @include mobile {
    width: 100%;
  }
}